<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>snapcartt - 404😭</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="../static/css/404-style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app"></div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/react/16.13.1/umd/react.production.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.1/umd/react-dom.production.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/styled-components/3.2.1/styled-components.min.js'></script><script  src="../static/js/404-script.js"></script>

</body>
</html>
